/* ---------- link for the roboto font---------------  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
/* ---------- for the cookie box--------------  */
#cookies{
    /* margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif; */
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 2;
    /* display: none; */
}

.cookie-container{
    width: 1000px;
    margin: auto;
}

.cookie-subcontainer{
    width: 85%;
    margin: auto;
}

.cookies{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.cookies a{
    color: yellow;
    font-weight: 500;
    text-decoration: none;
}
/* ----------- for the button ------------  */
#cookies-btn{
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    border: 3px solid white;
    background-color: black;
    color: wheat;
}