/* -------------- for the counter animation box--------  */
.counter{
    position: fixed;
    z-index: 2;
    background-color: transparent;
    width: 60vh;
    top: 100px;
    right: 0;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.counter-container{
    width: 20vmin;
    height: 20vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.2em;
    background-color: #21242b;
    border-bottom: 10px solid aquamarine;
}
.counter-container i{
    color: aquamarine;
    font-size: 2.5rem;
    text-align: center;
}
/* --------- color size weight and position of the number--- */
.num{
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}
.text{
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    line-height: 0;
}
.counter>span{
    position: fixed;
    top: 90px;
    right: 60vh;
    color: black; 
    border-radius: 50%; 
    height: 20px; 
    width: fit-content;
    cursor: pointer;
}
.counter>span:hover{
    color: red;
}
#cross-counter{
    color: #ffffff;
}