* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
:root {
  --bg-color: #f5f5f5;
  --text-color: rgb(5, 5, 5);
  --main-color: #ff5a00;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 12%;
  background: black rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  align-content: space-between;
  align-items: center;
  z-index: 100;
}
.header button {
  padding: 8px;
}
.header button a {
  background-color: var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}
/* name logo */
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
span {
  color: var(--main-color);
}
/* navigation menu */
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
/* navigation menu hover */
.navbar a:hover {
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
}
section {
  min-height: 100vh;
  padding: 10rem 12%;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
/* content space */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  text-align: justify;
}
.home-img img {
  width: 25vw;
  border-radius: 50%;
  box-shadow: #001005 0 0 25px;
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 15px var(--main-color), 0 0 20px var(--main-color),
    0 0 50px var(--main-color);
}

.social i:hover {
  font-size: 5rem;
}

.social-icons {
  font-size: 35px;
  color: black;
  margin-top: 30px;
  text-align: center;
}
/* social media icon hovers */
.instagram:hover {
  color: #dd2a7b;
}

.twitter:hover {
  color: #1da1f2;
}

.linkedin:hover {
  color: #0077b5;
}

.facebook:hover {
  color: #1877f2;
}
/* contribution section */
.contribution {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10rem;
  background-color: var(--bg-color);
}
.contribution-img img {
  width: 25vw;
  border-radius: 10px;
  box-shadow: #001005 0 0 25px;
  transition: 0.4s ease-in-out;
}
/* contribution image hover */
.contribution-img img:hover {
  box-shadow: 0 0 15px var(--main-color), 0 0 20px var(--main-color),
    0 0 50px var(--main-color);
}
.contribution-content h2 {
  font-size: 3rem;
  text-align: left;
}
/* contribution paragraph */
.contribution-content ul {
  font-size: 1.8rem;
  text-align: justify;
}
/* skill section */
.skills {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10rem;
  background-color: var(--bg-color);
}
.skills-img img {
  width: 25vw;
  border-radius: 10px;
  box-shadow: #001005 0 0 25px;
  transition: 0.4s ease-in-out;
}
/* skill image hover */
.skills-img img:hover {
  box-shadow: 0 0 15px var(--main-color), 0 0 20px var(--main-color),
    0 0 50px var(--main-color);
}
.skills-content h2 {
  font-size: 3rem;
  text-align: left;
}
/* skills paragraph */
.skills-content ul {
  font-size: 1.8rem;
  text-align: justify;
}
/* education section */
.education {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10rem;
  background-color: var(--bg-color);
}
.education-img img {
  width: 25vw;
  border-radius: 10px;
  box-shadow: #001005 0 0 25px;
  transition: 0.4s ease-in-out;
}
/* education image hover */
.education-img img:hover {
  box-shadow: 0 0 15px var(--main-color), 0 0 20px var(--main-color),
    0 0 50px var(--main-color);
}
.education-content h2 {
  font-size: 3rem;
  text-align: left;
}
/* education paragraph */
.education-content ul {
  font-size: 1.8rem;
  text-align: justify;
}
/* certification section */
.certifications {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10rem;
  background-color: var(--bg-color);
}
.certifications-img img {
  width: 25vw;
  border-radius: 10px;
  box-shadow: #001005 0 0 25px;
  transition: 0.4s ease-in-out;
}
/* certification image hover */
.certifications-img img:hover {
  box-shadow: 0 0 15px var(--main-color), 0 0 20px var(--main-color),
    0 0 50px var(--main-color);
}
.certifications-content h2 {
  font-size: 3rem;
  text-align: left;
}
/* cdertification paragraph */
.certifications-content ul {
  font-size: 1.8rem;
  text-align: justify;
}
/* experiencd section */
.experiences {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10rem;
  background-color: var(--bg-color);
}
.experiences-img img {
  width: 25vw;
  border-radius: 10px;
  box-shadow: #001005 0 0 25px;
  transition: 0.4s ease-in-out;
}
/* experience image hover */
.experiences-img img:hover {
  box-shadow: 0 0 15px var(--main-color), 0 0 20px var(--main-color),
    0 0 50px var(--main-color);
}
.experiences-content h2 {
  font-size: 3rem;
  text-align: left;
}
/* experience paragraph */
.experiences-content ul {
  font-size: 1.8rem;
  text-align: justify;
}
/* for footer  */
footer {
  width: 100%;
  height: 50px;
  background-color: #1877f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div {
  font-size: 20px;
}
